kagglehub==0.3.4
PyYAML==6.0.2
python-box==7.2.0
ensure==1.0.4
scikit-learn==1.5.2
tensorflow==2.18.0
opencv-python==4.10.0.84
matplotlib==3.9.2
python-box==7.2.0
# mlflow==2.18.0
# dagshub==0.3.45
gunicorn==21.2.0
flask-cors==3.0.10